body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #353248;
    box-sizing: border-box;
}

#page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display:flex;
    justify-content: center;
    background-color: #dcdcdc;
    padding: 1.8em;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5em;
}

h1 span {
    font-size: 3.3rem;
    color: #ff8c00;
}

#message span {
    color: #ff8c00;
    font-size: 2.3rem;
}

#super-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
}

#displayQuestion {
    display: flex;
    width: 30%;
    min-width: 315px;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
}

#form {
    display: inline-block;
    margin: 15px 1em;
}

#displayAlert {
    width: 30%;
    min-width: 315px;
    align-self: center;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

#displayAlert p {
    margin-left: 10px;
    margin-right: 10px;
}

#finish-message {
    display: none;
}

#svg-icons {
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10px; */
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    min-width: max(30vw, 450px);
}

#board {
    width: max(30vw, 450px);
    height: max(30vw, 450px);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 4px;
    margin-top: 20px;
    box-sizing: border-box;
}

.box {
    display:flex;
    background-color: #dcdcdc;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #750EBE;
    color: white;
    margin: 15px;
    padding: 10px 15px;
    width: 150px;
    border: none;
}

.btn:hover, .send:hover, #clear-best-times:hover {
    background-color: #ff8c00;
    color:#000000;
    cursor: pointer;
}

#inputResult {
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    outline: none;
    background: #f4f4f4;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.send {
    background-color: #750EBE;
    color: white;
    border: none;
    padding: 10px;
}

.orange {
    background-color: #ffa500;
}

.check {
    color: #ff8c00;
    width: 100px;
    height: 100px;
}

.cross {
    color: #750EBE;
    width: 100px;
    height: 100px;
}

footer {
    display: grid;
    grid-template-columns: [col1] 33.33% [col2] 33.33% [col3] 33.33%;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#stopwatch {
    text-align: center;
    padding: 8px;
    font-size: 1.3rem;
    grid-column-start: col2;
    grid-column-end: col3;
    box-sizing:border-box;
}

#controls2 {
    grid-column-start: col3;
    grid-column-end: span col3;
    display: flex;
    justify-content: end;
    align-items: center;
}

#controls2 img {
    margin: 0 5px;
}

#open-ranking:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.bt-modal-content {
    position: relative;
    background-color: #fefefe;
    width: 60%;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #750EBE;
    box-shadow: 3px 5px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.3s;
}

@keyframes animatetop {
    from {top:-300px; opacity: 0;}
    to {top:0; opacity: 1;}
}

.close-modal {
    color: #fefefe;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover {
    color: #353248;
    cursor: pointer;
}

.modal-header, .modal-footer {
    padding: 10px 15px;
    background-color: #750EBE;
    color: #fefefe;
}

.modal-body {
    padding: 5px 15px;
}

#best-times li {
    padding: 5px;
}

#best-times li:nth-child(even) {
    background-color: #f4f4f4;
}

#clear-best-times {
    background-color: #353248;
    color: #fefefe;
    padding: 10px;
    border: none;
}


@media screen and (max-width: 1200px) {
    header {
        align-items: center;
        padding: 1em;
    }

    header img {
        width: 85px;
        height: 108px;
    }

    header h1 {
        font-size: 2.7rem;
    }

    h1 span {
        font-size: 3.1rem;
    }

    #displayQuestion {
        min-width: 0;
    }

    #displayAlert {
        min-width: 0;
    }

    #container {
        min-width: max(30vw, 385px);
    }
    
    #board {
        width: max(30vw, 385px);
        height: max(30vw, 385px);
        margin-top: 10px;
    }

    #controls {
        white-space: nowrap;
    }

    .btn {
        margin: 10px;
    }
}


@media screen and (max-width: 1080px) and (orientation: portrait) {
    header {
        padding: .8em;
    }

    #super-container {
        display: grid;
        grid-template-rows: [row1] 20% [row2] 60% [row3] 20% [last];
    }
    
    #displayQuestion {
        width: 95%;
        margin: 0 auto;
        grid-row-start: row1;
        grid-row-end: row2;
    }

    #displayAlert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: auto;
        grid-row-start: row3;
        grid-row-end: last;
    }

    #finish-message {
        width: 33%;
        font-size: 1.6rem;
        flex-shrink: 0;
    }

    #message {
        width: 33%;
        font-size: 1.6rem;
        flex-shrink: 0;
    }

    #svg-icons {
        width: 33%;
    }

    #message span {
        font-size: 1.8rem;
    }

    #container {
        width: 100%;
        min-width: 0;
        grid-row-start: row2;
        grid-row-end: row3;
    }

    #board {
        width: 40vh;
        min-width: 365px;
        height: 40vh;
        min-height: 365px;
        margin-top: 0;
    }

    @media screen and (max-height: 880px) {
        header {
            padding: 0;
        }

        #super-container {
            grid-template-rows: [row1] 10% [row2] 70% [row3] 20% [last];
        }
    }
}


@media screen and (max-width: 600px) {
    header {
        padding: 0;
    }

    header img {
        display: none;
    }

    h1 {
        margin: .3em .5em;
    }
    
    h1 span {
        font-size: 3rem;
    }

    #super-container {
        grid-template-rows: [row1] 15% [row2] 65% [row3] 20% [last];
    }

    #inputResult {
        width: 60px;
    }

    #form {
        margin: 10px 0;
    }
    
    #displayAlert {
        justify-content: space-evenly;
    }

    #displayAlert p {
        display: none;
    }

    #finish-message {
        font-size: 1.4rem;
        min-width: 175px;
    }

    #board {
        width: 40vh;
        min-width: 265px;
        height: 40vh;
        min-height: 265px;
        margin-top: 0;
    }

    .box {
        font-size: 3rem;
    }

    .btn {
        width: 120px;
        margin: 10px 10px;
    }
}